:root {
	--white: #FFFFFF;
  --black: #000000;
  --light-gray: #C7C7C7;
  --very-light-gray: #F7F7F7;
  --hospital-green: #ACD9B2;

  --font-sm: 1.4rem;
  --font-md: 1.6rem;
  --font-lg: 1.8rem;

	--border-radius: 8px;
	--border-radius-card: 6px;
	--padding-link: 4px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-size: var(--font-md);
	font-family: 'Quicksand', sans-serif;
}

/*GENERALS*/
a {
	text-decoration: none;
}

li {
	list-style: none;
}

.flex {
	display: flex;
	align-items: center;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.inactive {
	display: none;
}


/*LOGIN*/
.login {
	width: 320px;
	height: 90vh;
	margin: 20px auto;
	padding: 10px;
}

.login__form {
	width: 100%;
	margin: 20px 0;
}

.login__form--label {
	font-weight: bold;
	font-size: var(--font-sm);
}

.login__form--input {
	height: 40px;
	margin: 5px 0 20px;
	padding: 10px;
	font-size: var(--font-md);
	border: transparent;
	border-radius: var(--border-radius);
	background-color: var(--very-light-gray);
}

.login--btn {
	height: 40px;
	font-weight: bold;
	font-size: var(--font-md);
	border-radius: var(--border-radius);
	border: 1px solid var(--hospital-green);
}

.login__form--btn {
	margin-top: 20px;
	color: var(--white);
	background-color: var(--hospital-green);
}

.login--registerBtn {
	color: var(--hospital-green);
	background-color: var(--white);
}

.login__forgot {
	margin: 20px auto;
	color: var(--hospital-green);
	font-size: var(--font-sm);
}

/*MENU*/
nav {
	width: 100%;
	height: 60px;
	padding: 10px 20px;
	position: fixed;
	top: 0;
	justify-content: space-between;
	border-bottom: 1px solid var(--light-gray);
}

.navbar__mobile img {
	width: 20px;
	height: 20px;
	position: relative;
}

.navbar__menuCenter ul {
	display: none;
}

.navbar__menuRight img {
	width: 25px;
	height: 25px;
}

.navbar__menuRight {
	gap: 20px;
	position: relative;
}

.navbar__menuRight--user {
	display: none;
}

.navbar__mobileMenu {
	padding: 24px;
	position: absolute;
	top: calc(100% - 0px);
	right: calc(100% - 200px);
}

.navbar__mobileMenu a {
	color: var(--black);
  font-weight: bold;
}

.navbar__mobileMenu ul {
  margin-top: 24px;
}

.navbar__mobileMenu ul:nth-child(1) {
  border-bottom: 1px solid var(--light-gray);
}

.navbar__mobileMenu li {
	margin-bottom: 24px;
}

.navbar__mobileMenu--email {
	font-size: var(--sm);
	font-weight: 300 !important;
}

.navbar__mobileMenu--signOut {
	font-weight: bold;
	font-size: var(--sm);
	color: var(--hospital-green) !important;
}


/*MEDIA QUERIES*/
@media (hover: hover) {
	.login--btn:hover {
		cursor: pointer;
		opacity: 0.8;
	}

	.login__forgot:hover {
		cursor: pointer;
		border-color: var(--hospital-green);
	}

	.navbar__menuCenter a:hover {
		border-color: var(--hospital-green);
    color: var(--hospital-green);
	}

	.navbar__menuRight img:hover {
		cursor: pointer;
	}
}

@media screen and (max-width: 767px) {
	.navbar__menuRight--menu {
		display: none;
	}
}

@media screen and (min-width: 768px) {
	.navbar__mobile {
		display: none;
	}

	.navbar__mobileMenu {
		display: none;
	}

	.navbar__menuCenter {
		gap: 40px;
	}

	.navbar__menuCenter ul {
		gap: 20px;
		display: flex;
	}

	.navbar__menuCenter a {
		padding: 5px;
		color: var(--light-gray);
		border: 1px solid transparent;
		border-radius: var(--border-radius);
	}

	.navbar__menuRight--menu {
		width: 150px;
		padding: 20px 20px 0 20px;
		position: absolute;
		bottom: calc(100% - 196px);
		left: calc(100% - 155px);
		border-radius: var(--border-radius-card);
		border: 1px solid var(--light-gray);
		background-color: var(--white);
	}

	.navbar__menuRight--menu li {
		text-align: end;
		font-weight: bold;
	}

	.navbar__menuRight--menu li:last-child {
		padding-top: 20px;
	  border-top: 1px solid var(--light-gray);
	} 

	.navbar__menuRight--menu li:last-child a {
		color: var(--hospital-green);
	  font-size: var(--font-sm);
	}

	.navbar__menuRight--menu a {
		margin-bottom: 10px;
		color: var(--back);
	  text-decoration: none;
	  display: inline-block;
	}

	.navbar__menuRight--user {
		display: initial;
	}
}

@media screen and (min-width: 1024px) {
	.login {
		height: 80vh;
		margin: 60px auto;
	}

	nav {
		padding: 10px 60px;
	}

	.navbar__menuRight {
		gap: 40px;
	}
}